span.root,img.root
{
	background-color:#fff;
	font-family:Tahoma;
	font-size:12;
	font-weight:bold;
	line-height:15px;
	margin:0;
	padding:2;
	border:solid 0px black;
	margin-left:0;
}

ul.tree, ul.tree ul
{
	list-style-type:none;
	background:url(../../Images/JSONTree/dot/vertical.jpg) repeat-y;
	margin:0;
	padding:0;
	cursor:hand;
}

ul.tree ul
{
	margin-left:15px;
}

/*树形控件分支结点样式*/
ul.tree li
{
	margin:0px;
	padding:0px 15px;
	line-height:18px;
	background:url(../../Images/JSONTree/dot/branch.jpg) no-repeat;
	color:#135;
	white-space:nowrap;
	font-family:Tahoma;
	font-size:12;
}

/*最后一个结点样式*/
ul.tree li.last
{
	background: #fff url(../../Images/JSONTree/dot/turning.jpg) no-repeat;
}

/*树形控件外部容器样式*/
div.outtercontainer
{
	width:260px;	
	height:500px;
	border:solid 1px black;
	text-align:center;
	margin:10 10;
	white-space:nowrap;
	overflow:auto;
}

/*树形控件内部容器样式*/
div.innercontainer
{
	width:94%;
	height:94%;
	text-align:justify;
	vertical-align:middle;
	border:solid 0px #000;
	margin:10 10;	
}

/*复选框样式*/
input.nodecheckbox
{
	margin:0px;
	padding:0px;
	margin-left:-3px;
}

/*鼠标进入时的样式*/
span.mouseover,a.mouseover
{
	background-color:#efefef;
	border:dashed 1px #0022aa;
	font-weight:bold;
}

/*鼠标移出时的样式*/
span.mouseout,a.mouseout
{
	
}

a
{
	text-decoration:none;
	color:#000;
}

li.nodeimage
{
	margin:0px;
	padding:0px;
	vertical-align:middle;
	text-align:center;
	line-height:18px;
}