<?xml version="1.0" encoding="utf-8" ?>

<EasyDev.Persistence.Config>
  <DataSources SchemaDir="Config\Schema" Default="SQMS.Private">
    <DataSource>
      <Name>SQMS.Private</Name>
      <ProviderType>System.Data.OracleClient</ProviderType>
      <ConnectionString>Data Source=orcl;Persist Security Info=True;User ID=sqms_private_0814;Password=123456;Unicode=True</ConnectionString>
    </DataSource>

    <DataSource>
      <Name>SQMS.Oracle.DataAccess</Name>
      <ProviderType>Oracle.DataAccess.Client</ProviderType>
      <ConnectionString>
        Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=dev;Password=dev
      </ConnectionString>
    </DataSource>

    <DataSource>
      <Name>MVCDB.MSSqlServer</Name>
      <ProviderType>System.Data.SqlClient</ProviderType>
      <ConnectionString>Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True</ConnectionString>
    </DataSource>

    <DataSource>
      <Name>OracleProvider</Name>
      <ProviderType>System.Data.OracleClient</ProviderType>
      <ConnectionString>Data Source=ORCL;Persist Security Info=True;User ID=LocalDevUser;Password=localdevuser;Unicode=True</ConnectionString>
    </DataSource>

    <DataSource>
      <Name>CompactSQLServerProvider</Name>
      <ProviderType>System.Data.SqlClient</ProviderType>
      <ConnectionString>Data Source=G:\WorkSpace\ComputerScience\CodeComplete\MSProject.NET3.X\EasyDev\EDFK.Application\WebSample\App_Data\MyDatabase#1.sdf;Persist Security Info=True</ConnectionString>
    </DataSource>

    <DataSource>
      <Name>SSOProvider</Name>
      <ProviderType>System.Data.SqlClient</ProviderType>
      <ConnectionString>Data Source=.;Initial Catalog=SSOAuthentication;Integrated Security=True</ConnectionString>
    </DataSource>
  </DataSources>
</EasyDev.Persistence.Config>