<?xml version="1.0" encoding="utf-8" ?>

<EasyDev.Resources.Config>
  <Resources DefaultAssembly="EasyDev.Web.App.Resources">
    <Resource>
      <Name>EasyDev.Web.Foundation.Services.UserService</Name>
      <Assembly>EasyDev.Web.App.Resources</Assembly>
      <Culture>en-US</Culture>
    </Resource>

    <Resource>
      <Name>EasyDev.Web.App.UserRoleManage.AddResource</Name>
      <Assembly>EasyDev.Web.App.Resources</Assembly>
      <Culture>zh-CN</Culture>
    </Resource>

    <Resource>
      <Name>Comman.MainMaster</Name>
      <Assembly>EasyDev.Web.App.Resources</Assembly>
      <Culture>en-US</Culture>
    </Resource>

  </Resources>
</EasyDev.Resources.Config>
